.input {
  width: 100%;
  max-width: calc(100% - 6.13rem);
  height: 3.25rem;
  padding-left: 1rem;
  margin-right: .5rem;

  border: none;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-100);

  &::placeholder {
    color: var(--gray-300);
  }
}