.button {
  width: 100%;
  max-width: 5.6rem;
  height: 3.25rem;

  border-radius: 8px;
  border: none;
  background-color: var(--blue-dark);
  color: var(--gray-100);

  font-size: 1rem;
  font-weight: bold;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  cursor: pointer;

  transition: background-color .1s;

  &:hover {
    background-color: var(--blue);
  }
}