.create {
  font-weight: bold;
  font-size: 1rem;

  &:first-child {
    color: var(--blue);
  }

  &:last-child {
    color: var(--purple);
  }

  span {
    margin-left: .5rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    height: 1.2rem;
    padding-inline: .5rem;
    border-radius: 999px;
  }
}